In [7]:
import pandas as pd

In [11]:
# Function to convert comma separated csv file to pipe separated csv file
def change_csv_delim(csv_file):

    csv_ext = '.csv'
    
    df = pd.read_csv(csv_file + csv_ext)
    
    out_file = csv_file + '_pipe_delim' + csv_ext 
    
    df.to_csv(out_file, sep='|', index=False)

In [46]:
# Function to remove newline characters ('\r' + '\n') from csv file
def remove_newline(csv_file):
    
    csv_ext = '.csv'
    
    df = pd.read_csv(csv_file + csv_ext)
    
    df = df.replace(r'\\r', ' ', regex=True)
    df = df.replace(r'\\n', ' ', regex=True)
    df = df.replace(r'\|', ' : ', regex=True)
    
    out_file = csv_file + '_removed_newline' + csv_ext 
    
    df.to_csv(out_file, sep='|', index=False)

In [47]:
# Create pipe delimited version of training_tweets.csv in res/
training_tweets = '../res/training_tweets'
#change_csv_delim(training_tweets)
remove_newline(training_tweets)
# Output file will be moved to s3 bucket for loading into spark and writing to database

In [48]:
df = pd.read_csv('../res/training_tweets.csv', sep=',')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8801 entries, 0 to 8800
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tweet_id           8801 non-null   int64
 1   date               8801 non-null   object
 2   full_text          8801 non-null   object
 3   tweet_type         8801 non-null   object
 4   hashtags           1366 non-null   object
 5   mentions           6147 non-null   object
 6   user_location      8781 non-null   object
 7   place_type         244 non-null    object
 8   place_name         244 non-null    object
 9   place_full_name    244 non-null    object
 10  country_code       244 non-null    object
 11  country            244 non-null    object
 12  prof_country       8747 non-null   object
 13  prof_country_code  8747 non-null   object
 14  prof_locality      4645 non-null   object
 15  prof_region        7680 non-null   object
 16  prof_sub_region    4477 non-null   object
 17  prof_full_name     8747 non-null   object
 18  prof_coord_lat     8747 non-null   float64
 19  prof_coord_lng     8747 non-null   float64
 20  reply_count        8801 non-null   int64
 21  quote_count        8801 non-null   int64
 22  likes_count        8801 non-null   int64
 23  retweet_counts     8801 non-null   int64
 24  hyperlink          8801 non-null   object
dtypes: float64(2), int64(5), object(18)
memory usage: 1.7+ MB